{{!< default}}
{{#post}}
<div class="posts">
  <div class="post">
    <h3>{{title}}</h3>
    <small>By {{author}} - <i>Posted on {{date published_at format="MMMM DD, YYYY"}}</i></small>
    <div class="content">
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{content}}
    </div>
  </div>
</div>
{{/post}}
